<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MatrixBuddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F94BCF9D1D55A5FE00ABABC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94BCFB11D55A5FF00ABABC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94BCFBC1D55A5FF00ABABC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
